nav {
  background-color:#C2DB02;
  height: 80px;
}
body{
  background-image: url("background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  color:#626f00;
  font-size: 20px;
}
.name{
  width:20%;
}
.picture{
  margin-top: 3.5%;
  height: 65px;
}
#mapid {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  height: 87%;
}
.developers{
  margin-top: 3%;
}
.facts{
  margin-top: 5%;
}
.instructions{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  text-align: justify;
}
.objective{
  font-size: 2em;
}
.funFact{
  width: 20%;
  margin-left: 45%;
  text-align: justify;
}
